---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>
	    {% include tag_manager_body.html %}

		{% include header.html %}

        <div style="text-align:center">
        <a href="/" style="border: 0">Posts</a> &emsp; • &emsp; <a href="/about" style="border: 0">About</a> &emsp; • &emsp; <a href="/workshop" style="border: 0">Workshop</a>
        </div>

&ensp;

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% include footer.html %}

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>

</html>
